.btn.btn-outline-light.active, .btn.btn-outline-light:hover{
  color:black;
}


#report-table td{
  font-size: 16px;
}
#report-table td:hover{
  text-decoration: underline;
  font-weight: 900;
}

#report-table th {
  cursor: pointer;
}

#report-table th:hover {
  background-color: #f5f5f5;
}
