<eda-dialog2
    [display]="display"
    header="Componente Fecha"
    i18n-label="@@dateFormatTitle"
    width="60vw" height="70vh"
    [disableApply]="isReadyForConfirmation"
    (apply)="onApplyDateFormatDialog()"
    (close)="oncloseDateFormatDialog()"
    >

    <div content>
        <div class="date-format-card">
            
            <div class="date-format-col">
                <h5>Selección de operador del filtro: </h5>
                
                <div class="mt-5">
                    <span class="p-float-label">
                        <p-dropdown 
                            id="operatorTypes" 
                            [options]="filter.types" 
                            [(ngModel)]="filterTypeSelected" 
                            optionLabel="label"
                            [autoDisplayFirst]="false" 
                            [style]="{'width': '100%'}" 
                            [showClear]="true"
                            (onChange)="handleFilterChange(filterTypeSelected)"
                        >
                        </p-dropdown>
    
                        <label i18n="@@tiposFiltrosLabel" for="types">
                            Tipos de filtro
                        </label>
    
                    </span>
                </div>

            </div>
            
            <div class="date-format-col">
                <h5 *ngIf="filterTypeSelected?.value !== 'between' && filterTypeSelected?.value !== 'not_null' && filterTypeSelected?.value !== 'not_null_nor_empty' && filterTypeSelected?.value !== 'null_or_empty'">Selección de fecha: </h5>

                <div *ngIf="showDateFormatSelecter" class="mt-5">
                    <span class="p-float-label">
                        <p-dropdown 
                            id="dateFormatSelection" 
                            [options]="rangeDateFormat.types" 
                            [(ngModel)]="dateFormatSelected" 
                            optionLabel="label"
                            [autoDisplayFirst]="false" 
                            [style]="{'width': '100%'}" 
                            [showClear]="true"
                            [disabled]="!isDateFormatAvailable"
                            (onChange)="handleDateFormatChange(dateFormatSelected)"
                        >
                        </p-dropdown>
    
                        <label i18n="@@tiposFiltrosLabel" for="types">
                            Tipos de filtro
                        </label>
    
                    </span>
                </div>

                <h5 *ngIf="showEdaDatePicker">Selección en calendario: </h5>

                <div *ngIf="showEdaDatePicker" class="mt-5">
                    <div class="date-picker-single">
                        <eda-date-picker
                            [inject]="datePickerConfig"
                            (onDatesChanges)="processPickerEvent($event)"
                            [filterSelected]="filterTypeSelected"
                            [selectionMode]="'range'"
                            [showSelector]="false"
                            >
                        </eda-date-picker>
                    </div>
                </div>

            </div>
            
            <div class="date-format-col">
                <h5 *ngIf="showEdaDatePickerSingleSelection || showEdaDatePickerMultipleSelection">Selección en calendario: </h5>
    
                <div *ngIf="showEdaDatePickerSingleSelection" class="mt-5">
                    <div class="date-picker-single">
                        <eda-date-picker
                            [inject]="datePickerConfig"
                            (onDatesChanges)="processPickerEvent($event)"
                            [filterSelected]="filterTypeSelected"
                            [selectionMode]="'single'"
                            [showSelector]="false"
                            >
                        </eda-date-picker>
                    </div>
                </div>
    
                <div *ngIf="showEdaDatePickerMultipleSelection" class="mt-5">
                    <div class="date-picker-single">
                        <eda-date-picker
                            [inject]="datePickerConfig"
                            (onDatesChanges)="processPickerEvent($event)"
                            [filterSelected]="filterTypeSelected"
                            [selectionMode]="'multiple'"
                            [showSelector]="false"
                            >
                        </eda-date-picker>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div footer style="margin-right: auto; display: flex; gap: 8px; align-items: center;">
        <ng-content select="[footer]"></ng-content>
        <button *ngIf="cleanButtonsAvailable" pButton pRipple type="button" label="Clean" icon="pi pi-undo" class="p-button-rounded p-button-outlined" (click)="onCleanDateFormatDialog()"></button>
    </div>

</eda-dialog2>