<div cdkDropListGroup>
    <div class="container">

      <div class="row">

        <div class="col-12 box-order">
          <h3>Configuración de orden: </h3>

          <div class="container">
            <div class="row">

              <div class="col-4 pt-0 pr-0">

                <div class="example-container-2">
                  <div
                    class="example-list-2"
                    cdkDropList
                    [cdkDropListData]="itemX"
                    (cdkDropListDropped)="drop($event)"
                    >
            
                      <div *ngFor="let item of itemX" class="example-box-2" cdkDrag>{{item.display_name.default}}</div>
                    
                  </div>
                </div>

              </div>

              <div class="col-8 pt-0 pl-0">

                <div class="container">
                  <div class="row">
                    <div class="col pt-0 pl-0">

                      <div class="example-container-3">
                        <div
                          class="example-list-3"
                          cdkDropList
                          [cdkDropListData]="itemY"
                          (cdkDropListDropped)="drop($event)"
                          cdkDropListOrientation="horizontal"
                          >
                  
                            <div *ngFor="let item of itemY" class="example-box-3" cdkDrag>{{item.display_name.default}}</div>
                          
                        </div>
                      </div>

                    </div>
                    <div class="col pt-0 pl-0">

                      <div class="example-container-4">
                        <div
                          class="example-list-4"
                          cdkDropList
                          [cdkDropListData]="itemZ"
                          (cdkDropListDropped)="drop($event)"
                          cdkDropListOrientation="horizontal"
                          [cdkDropListEnterPredicate]="isNumeric">
                  
                            <div *ngFor="let item of itemZ" class="example-box-4" cdkDrag>{{item.display_name.default}}</div>
                          
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>

            </div>

            <div class="row" style="margin-bottom: 10rem;">
              <button type="button" pButton (click)="temporalExecution()" [disabled]="!validated"
                  icon="fa fa-flask" class="p-button-success ml-2" i18n-label="@@otro" label="temporalButton">
              </button>
            </div>

            
          </div>
        </div>


      </div>
    </div>
</div>
  