<div cdkDropListGroup>
    <div class="container">

      <div class="row">

        <div class="col-3 p-2" style="width: 81px;">
          <h3>Test 1</h3>

          <div class="example-container-1">
            <div
              class="example-list-1"
              cdkDropList
              [cdkDropListData]="todo"
              (cdkDropListDropped)="drop($event)">
      
              <div *ngFor="let item of todo" class="example-box-1" cdkDrag>{{item}}</div>
              
            </div>
          </div>

        </div>

        <div class="col-9">
          <h3>Test 2</h3>

          <div class="container">
            <div class="row">

              <div class="col-4 pt-0 pr-0" style="width: 75px;">

                <div class="example-container-2">
                  <div
                    class="example-list-2"
                    cdkDropList
                    [cdkDropListData]="done"
                    (cdkDropListDropped)="drop($event)">
            
                      <div *ngFor="let item of done" class="example-box-2" cdkDrag>{{item}}</div>
                    
                  </div>
                </div>

              </div>

              <div class="col-8 pt-0 pl-0">

                <div class="container">
                  <div class="row">
                    <div class="col pt-0 pl-0" style="height: 45px;">

                      <div class="example-container-3">
                        <div
                          class="example-list-3"
                          cdkDropList
                          [cdkDropListData]="done"
                          (cdkDropListDropped)="drop($event)">
                  
                            <div *ngFor="let item of done" class="example-box-3" cdkDrag>{{item}}</div>
                          
                        </div>
                      </div>

                    </div>
                    <div class="col pt-0 pl-0">

                      <div class="example-container-4">
                        <div
                          class="example-list-4"
                          cdkDropList
                          [cdkDropListData]="done"
                          (cdkDropListDropped)="drop($event)">
                  
                            <div *ngFor="let item of done" class="example-box-4" cdkDrag>{{item}}</div>
                          
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>
      
    </div>

</div>
  