<div class="flex flex-col h-full drag-handler rounded-lg p-2 bg-white" [ngStyle]="getPanelStyle()">
    <!-- Header -->
    <div class="flex justify-end items-center h-full drag-handler" >
        <div class="flex items-center justify-center flex-grow h-full overflow-y-auto rounded-lg bg-gray-50" [ngStyle]="getTitleStyle()" (dblclick)="display.editMode && openEditDialog()">
          <div class="eda-title-panel" [innerHTML]="panel.title | sanitizeHtml"></div>
        </div>
        <i class="pi pi-ellipsis-v cursor-pointer mr-4" (click)="openContextMenu($event)"></i>
    </div>
</div>

  <eda-context-menu (close)="contextMenu.display = false" [inject]="contextMenu"></eda-context-menu>
@if(editTittleController){
    <app-title-dialog [controller]="editTittleController"> </app-title-dialog>
}