
.selectStyles {
    height: 29px;
}

@media (min-width: 1371px) {
    .selectStyles {
        height: 34px;
    }

}

.date-picker-single {
    margin-top: 0.025em;
}

.date-picker-single ::ng-deep .p-calendar,
.date-picker-single ::ng-deep .p-calendar .p-inputtext {
    width: 100%;
}