
<template #chartComponent></template>
<ng-container *ngIf="NO_DATA">
  <div class="d-flex justify-content-center">
      <img src="assets/images/nodata.png" style="width: 250px;" alt="no data" />
  </div>
</ng-container>

<ng-container *ngIf="NO_DATA_ALLOWED">
  <div class="d-flex justify-content-center">
<!-- SDA CUSTOM     <h2 text-align = "center"  style="position:absolute;top: 50%;" ><span i18n="@@noDataAllowed" class="ml-2">Este panel no está disponible por falta de permisos</span></h2> -->
<!-- SDA CUSTOM-->  <p class="alert alert-danger text-center" style="position: absolute; top: 50%; transform: translateY(-50%); font-size: 12px;">Este panel no está disponible por falta de permisos</p>
    </div>
</ng-container>
